<div class="loginsignupform">
  <div class="logoimagewrapper">
    <%= image_tag("bear.png", size:"100x100", class:"logoimage")%>
  </div>
  <h1 class="newfont">Jotty</h1>
  <h5 class="newfont">Never Forget Again<h5>
  <h3>Sign up</h3>
  <h2><%= render "devise/shared/links" %></h2>
  <div class="container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class:"form_change signup_name", id:"name_first" %>
    <span class="missinginfo" id="missinginfo_irst">First Name cannot be empty!</span>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off", class:"form_change signup_name", id:"name_last" %>
    <span class="missinginfo" id="missinginfo_last">Last Name cannot be empty!</span>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.number_field :contact_number, autocomplete: "off", class:"form_change" %>
    <span class="missinginfo" id="missinginfo_mber">Your Contact Number has less than 8 numbers!</span>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form_change" %>
    <span class="missinginfo" id="missinginfo_word">Your password has less than 6 characters!</span>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form_change" %>
    <span class="missinginfo" id="missinginfo_tion">This does not match with the password above!</span>
  </div>
    <%= f.submit "Sign up", class:"btn-submit" %>

<% end %>

  </div>
</div>

<div class="loading_wrapper">
  <div class="loading">
    <div class="loader"></div>
    Registering account, please hold on!
  </div>
</div>

<script>

  $(document).ready(function(){
    if ($('#name_first').val().length == 0) {
      $('#name_first').removeClass("not_empty").addClass("empty");
    }
    else {
      $('#name_first').removeClass("empty").addClass("not_empty");
    }
    if ($('#name_last').val().length == 0) {
      $('#name_last').removeClass("not_empty").addClass("empty");
    }
    else {
      $('#name_last').removeClass("empty").addClass("not_empty");
    }
    if ($('#user_contact_number').val().length < 8) {
      $('#user_contact_number').removeClass("not_empty").addClass("empty");
    }
    else {
      $('#user_contact_number').removeClass("empty").addClass("not_empty");
    }
  })

  function check_control_form(obj) {
    var get_id = obj.attr("id")
    var missingkey = get_id.slice(-4)
    if (obj.hasClass("not_empty")){
      $('#missinginfo_'+missingkey).css('display', 'none')
      obj.css('border', '1px solid #23B3B9')
    }
    else{
      $('#missinginfo_'+missingkey).css('display', 'block')
      obj.css('border', '1px solid #DC4C46')
    }
    if ($(".form_change").filter(".not_empty").length == $(".form_change").length){
      $('#submit_button').prop('disabled', false);
    }
    else{
      $('#submit_button').prop('disabled', true);
    }
  }

  $("#name_first").on("input",function(){
    if ($(this).val().length == 0) {
      $(this).removeClass("not_empty").addClass("empty");
      $(this).css('border', '1px solid #DC4C46')
    }
    else {
      $(this).removeClass("empty").addClass("not_empty");
      $(this).css('border', '1px solid #23B3B9')
    }
    check_control_form($(this))
  });

  $("#name_last").on("input",function(){
    if ($(this).val().length == 0) {
      $(this).removeClass("not_empty").addClass("empty");
      $(this).css('border', '1px solid #DC4C46')
    }
    else {
      $(this).removeClass("empty").addClass("not_empty");
      $(this).css('border', '1px solid #23B3B9')
    }
    check_control_form($(this))
  });

  $('#user_contact_number').on('input', function(){
    if($(this).val().length < 8){
      $(this).removeClass("not_empty").addClass("empty")
      $('#missing_cont').show()
      $(this).css('border', '1px solid #DC4C46')
    }else{
      $(this).removeClass("empty").addClass("not_empty")
      $('#missing_cont').hide()
      $(this).css('border', '1px solid #23B3B9')
      $(this).val($(this).val().slice(0, 8))
    }
    check_control_form($(this))
  })

  $("#user_password").on("input",function(){
    if ($(this).val().length > 5) {
      $(this).removeClass("empty").addClass("not_empty");
      if ($(this).val() == $('#user_password_confirmation').val()){
        $("#user_password_confirmation").removeClass("empty").addClass("not_empty");
      }
      else {
        $("#user_password_confirmation").removeClass("not_empty").addClass("empty");
      }
      check_control_form($("#user_password_confirmation"))
    }
    else {
      $(this).removeClass("not_empty").addClass("empty");
    }
    check_control_form($(this))
  });

  $("#user_password_confirmation").on("input",function(){
    if ($(this).val() == $('#user_password').val()){
      $(this).removeClass("empty").addClass("not_empty");
    }
    else {
      $(this).removeClass("not_empty").addClass("empty");
    }
    check_control_form($(this))
  });

  $('.btn-submit').on('click',function(e){
    $('.form_change').each(function(){
      var missingkey = $(this).attr('id').slice(-4)
      if ($(this).hasClass("not_empty")){
        $('#missinginfo_'+missingkey).css('display', 'none')
        $(this).css('border', '1px solid #23B3B9')
      }
      else{
        $('#missinginfo_'+missingkey).css('display', 'block')
        $(this).css('border', '1px solid #DC4C46')
      }
      if ($(".form_change").filter(".not_empty").length == $(".form_change").length){
        $('#submit_button').prop('disabled', false);
        $('.loading_wrapper').show()
      }
      else{
        e.preventDefault();
        $('#submit_button').prop('disabled', true);
      }
    })
  })
</script>
