<div class="header">
  <div class="logo newfont">Jotty</div>
  <%= link_to posts_path do %>
    <div class="signin newfont">Login/Sign Up</div>
  <% end %>
</div>

<div class="noteboard_wrapper">
  <h1 class="ditch_that">Ditch that Sticky Note</h1>
  <h1 class="from_this">From this</h1>
</div>

<div class="to_this_wrapper">
  <h1 class="to_this newfont">To this</h1>
</div>

<div class="notephone_wrapper"></div>

<div class="why_div">
  <h1 class="send_jotty newfont">Send a <strong>Jotty</strong> reminder instead</h1>
</div>

<div class="how_div">
  <div class="how_div_sub">
    <h1 class="demo_jotty newfont">How does <strong>Jotty</strong> work?</h1>
    <%= image_tag "jotty.gif", class:"jottygif" %>
  </div>
</div>

<div class="receive_div">
  <div class="receive_div_sub">
    <h1 class="receive_jotty newfont">Get notified with <strong>Telegram</strong> and <strong>Push Notification</strong></h1>
      <%= image_tag "telegram.png", class:"jottytele" %>
      <%= image_tag "push.jpeg", class:"jottypush" %>
  </div>
</div>

<div class="save_earth_wrapper">
  <h1 class="save_earth newfont">Save <strong>Earth<br></strong> </h1>
  <%= link_to posts_path do %>
    <h2 class="use_jotty newfont">Use <strong>Jotty</strong><%= image_tag "bear.png", size:"32x32", class:"baboon_icon" %></h2>
  <% end %>
</div>

<div class="footer newfont">
  Wilson Wan Copyright © 2019 All rights reserved.
</div>

<script>

  $(document).scroll(function(){
    $(".noteboard_wrapper, .header").css("opacity", 1 - $(window).scrollTop() / 550);
  });

  $(document).scroll(function(){
    $(".from_this, .ditch_that").css("opacity", 1 - $(window).scrollTop() / 120);
  });

  $(document).scroll(function(){
    $(".to_this_wrapper, .notephone_wrapper").css("opacity", $(window).scrollTop() / 400);
  });

  function parallax(){
         var newtop = (window.pageYOffset / 10);
         $(".noteboard_wrapper").css({top: newtop + 'px'});
         }

  window.addEventListener("scroll", parallax, false);

</script>
