<div class="loginsignupform">
  <h1 class="newfont">Jotty</h1>
  <h5 class="newfont">Never Forget Again<h5>
  <h3>Login</h3>
  <h2><%= render "devise/shared/links" %></h2>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :contact_number %><br />
        <%= f.number_field :contact_number, autofocus: true%>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
        <span class="subadmin_alert">
          <% if alert.present? %>
            <%= alert.html_safe %>
          <% end %>
        </span>
      </div>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <%= f.submit "Login", class:"btn-submit" %>
    <% end %>
  </div>
</div>
